.example-container {

   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #barramenu {
    position: fixed;
  }
  .botonmenu{
    
    background-color: rgba(46, 138, 138, 0.1) !important;
  }


  
  .example-app-name  {
    margin-left: 40px;
  }
  
  
  
  .example-spacer {
    flex: 1 1 auto;
  }